<%= form_for @lens do |f| %>
<% if @lens.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @lens.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
  <% if @lens.new_record? %>
    <%= f.label :app_id, 'Application' %>
    <%= f.select :app_id, App.order(:name).map{ |a| [a.name, a.id] } %>
  <% end %>
  </div>

  <div class="field">
    Notify me if price
    <ul>
      <li><%= f.radio_button :rule, Lens::RULES[:changes] %><%= f.label "rule_#{Lens::RULES[:changes]}", 'changes (increases or decreases)' %></li>
      <li><%= f.radio_button :rule, Lens::RULES[:drops] %><%= f.label "rule_#{Lens::RULES[:drops]}", 'drops' %></li>
      <li><%= f.radio_button :rule, Lens::RULES[:falls_below] %><%= f.label "rule_#{Lens::RULES[:falls_below]}", 'equals or falls below' %><%= f.number_field :desired_price, max: 10 %></li>
    </ul>
  </div>

<%= f.submit %>
<% end %>
