<%= form_for @lens do |f| %>
<% if @lens.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @lens.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
  <% if @lens.new_record? %>
    <%= f.label :app_id, 'Application' %>
    <%= f.select :app_id, App.order(:name).map{ |a| [a.name, a.id] } %>
  <% end %>
  </div>

<%= f.submit %>
<% end %>
