<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, true, params[:remember_me] %>
  </div>
  <p><%#= link_to "forgotten_password?", new_password_reset_path %></p>
  <div class="actions"><%= submit_tag "Login" %></div>
<% end %>
