<%# title "Apps", false %>



<form></form>

<ul class="apps">
<% @apps.each do |app| %>

<li class="app <%= 'watched' if app.is_watched.to_bool %>">
  <div class="inner">
    <div class="icon" style="background-image: url(<%=app.icon%>);"></div>
    <div>
      <%= app.low == app.price ? ' ' : price(app.low) %>
      <%= app.high == app.price ? ' ' : price(app.high) %>
    </div>
    <div>
      <h3><%= link_to app, app %></h3>
      <span class="details"><%= "★" * app.rating %> Games</span>
    </div>
    <div></div>
  <!--   <div>
      <%= app.watcher_count %>
      <% if app.is_watched.to_bool %>
  	watching
  	<% else %>
      <%#= link_to "watch", new_lens_path(app_id: app.id) %>
      <% end %>
    </div> -->
  </div>
</li>
<% end %>
</ul>

<%= paginate @apps %>
