<%# title "Apps", false %>



<form></form><br/>

<table>
<tbody>
<% @apps.each do |app| %>
<tr class="<%= 'watched' if app.is_watched.to_bool %>">
<!--   <td class="merchant_icon"></td> -->
  <td><div class="icon" style="background-image: url(<%=app.icon%>);"></div></td>
  <td>
    <%#= price app.price %><br/>
    <%= app.low == app.price ? ' ' : price(app.low) %><br/>
    <%= app.high == app.price ? ' ' : price(app.high) %></td>
  <td><%= link_to app, app %><br/>
    <span class="details">★★★ Games</span>
  </td>
  <td>✓</td>
  <td></td>
<!--   <td>
    <%= app.watcher_count %>
    <% if app.is_watched.to_bool %>
	watching
	<% else %>
    <%= link_to "watch", new_lens_path(app_id: app.id) %>
    <% end %>
  </td> -->
</tr>
<% end %>
</tbody>
</table>

<%= paginate @apps %>
