<% title "Apps" %>

<%= paginate @apps %>

<table>
<thead>
  <th>Price</th>
  <th>App</th>
  <th># Watchers</th>
</thead>
<tbody>
<% @apps.each do |app| %>
<tr>
  <td><%= price app.price %></td>
  <td><%= link_to app, app %></td>
  <td>
    <%= app.watcher_count %>
    <% if app.is_watched.to_bool %>
	watching
	<% else %>
    <%= link_to "watch", new_lens_path(app_id: app.id) %>
    <% end %>
  </td>
</tr>
<% end %>
</tbody>
</table>

<%= paginate @apps %>
