<% title @app %>

<div id="current_price"><%= @app.pretty_price %></div>

<div class="icon" style="background-image: url(<%=@app.icon%>);"></div>

<h3>Changes</h3>
<div id="changes">
  <% if @app.changes.empty? %>
    This app's price has not yet changed
  <% else %>
    <ul>
    <% @app.changes.each do |change| %>
    <li><%= change %></li>
    <% end %>
    </ul>
  <% end %>
</div>
<%= link_to "Get App", @app.url, class: 'get_app' %>

<% if @lens %>
  <%= link_to "stop watching", lens_path(@lens.id, return_to: app_path(@app)), method: 'delete' %>

  you are watching this app
<% else %>
  <%= link_to "Watch this app", new_lens_path(app_id: @app.id), class: 'watch_app' %>
<% end %>