<%# title "iOS Apps" %>

<%= form_tag request.path, method: 'get', id: 'filters', remote: true do %>
<!-- Designed for: -->
  <ul>
    <li>
      <%= check_box_tag 'filters[]','iphone',
      (params['filters'].include?('iphone') if params['filters']) %>
      <%= label_tag 'filters_iphone', 'iPhone & iPod' %>
    </li>
    <li>
      <%= check_box_tag 'filters[]', 'universal',
      (params['filters'].include?('universal') if params['filters']) %>
      <%= label_tag 'filters_universal', 'Universal' %>
    </li>
    <li>
      <%= check_box_tag 'filters[]', 'ipad',
      (params['filters'].include?('ipad') if params['filters']) %>
      <%= label_tag 'filters_ipad', 'iPad' %>
    </li>
  </ul>
  <%= submit_tag 'Filter' %>
<% end %>

<%= render 'apps/index' %>
