<!DOCTYPE html>
<html>
<head>
  <title><%= @show_title ? ": #{@content_for_title}" : "" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="<%= request.subdomain %>">

<header>
  <%= link_to "AppVulture", root_path, id: "logo" %>
  <div id="user_nav">
    <% if current_user %>
      <%#= link_to "Lenses", lenses_path %>
      Logged in as <%= current_user.email %>
      <%= link_to "Logout", logout_url(subdomain: false) %>
    <% else %>
      <%= link_to "Signup", signup_url(subdomain: false) %>
      <%= link_to "Login", login_url(subdomain: false) %>
    <% end %>
  </div>

   <% if current_user %>
    <%= link_to "Lenses", lenses_path %>
  <% end %>
    <%= link_to "Apps", apps_path %>
    <%= form_tag request.fullpath, method: 'GET' do %>
    <%= text_field_tag :query, params[:query], type: 'search', placeholder: 'Search' %>
  <% end %>
</header>

  <ul id="subdomains">
    <li id="ios"><%= link_to 'iOS', ioses_url(subdomain: 'ios') %></li>
    <li id="mac"><%= link_to 'Mac', macs_url(subdomain: 'mac') %></li>
    <li id="xbox"><%= link_to 'Xbox', xboxes_url(subdomain: 'xbox') %></li>
    <li id="android"><%= link_to 'Android', androids_url(subdomain: 'android') %></li>
  </ul>
  <div id="container"

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash #{name}" %>
  <% end %>

  <%= content_tag(:h1, @content_for_title) if @show_title %>
<%= yield %>
</div>

</body>
</html>
